body, html {
  height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: url("nightsky.gif");
	background-size:10%;
	background-attachment: fixed;
	height:100%;
	width:100%;
	font-family: "Times New Roman", Times, serif;
	min-height:100%; padding:0; margin:0; position:relative;
}


.page-wrapper{
	min-height:100%;
}


.topnav {
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 100;
	width:100%;
	margin-top:240px;
	background: url("nightsky.gif");
	background-size:10%;
	background-attachment: fixed;
}


.topnav a {
	display: block;
	color: #00ffec;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	color: #ff3300;
	background-color:#ffffff
}


.truth 	 {
	position: absolute;
	margin-top:253px;
	display: block;
	color: #00ffec;
	text-decoration: none;
	z-index: 150;
	right:0;
}

.truth a:hover {
	color: #ff3300;
	background-color:#ffffff
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.fworks {
	padding:0;
	margin-top:0;
	text-align: center;
	
}

.intro{
	margin-top:20px;
	font-size: 20px;
	font-weight: bold;
	color: #FF0013;
	border-color:#00FFEC;
	border-style: double;
	border-width: 10px;
	text-align: center;
	padding:5px;
}




footer {
   	clear:both;
	width:100%;
	position:relative;
	left:0;
	bottom:0;
	color: #FF0013;
	font-size: 100px;
	font-weight: bold;
	transform: rotate(180deg);
	text-align: center;
}

.box{
	position:absolute;
	position:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:100%;
	background-color:#ffffff00;
	z-index:10;
}

.box:active{
	background:url("nightskyinvert.gif");
	background-size:10%;
	background-attachment: fixed;
	mix-blend-mode: exclusion;
}

img{
	padding:30px;
}

.desc{
	float:bottom;
	font-weight: bold;
	background-color:#ADADAD;
	padding:20px;
	border-style: outset;
	border-width: 10px;
	font-size: 30px;
	color: #FF0013;
	width:20%
}

.text{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #FF0013;
	border-width: 10px;
	padding:20px;
	margin-left:30%;
	margin-right:30%;
}

.column {
	float:left;
	padding:10px;
}

.column.side {
	width:25%;
	
}


.pagebox {
	display: flex;
	flex-wrap: wrap;
	margin-left: 25%;
	margin-right: 25%;
}

.linkbox {
	display: flex;
	position:relative;
	flex-wrap:wrap;
	margin-left: 10%;
	margin-right: auto;
	width:50%;
	z-index:150;
}

.cell {
	display: flex;
	box-sizing: border-box;
	flex-grow: 1;
	overflow: hidden;
	list-style: none;
	font-size: 1.5vw;
	font-weight: bold;
	color: #FF0013;
	border-style: outset;
	border-width: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-left:5px;
	padding-right:5px;
}
.lhccell {
	display: flex;
	box-sizing: border-box;
	flex-grow: 1;
	overflow: hidden;
	list-style: none;
	font-size: 18px;
	font-weight: bold;
	color: #FF0013;
	border-style: outset;
	border-width: 10px;
	justify-content: center;
	align-items: center;
}
.linkcell {
	display: flex;
	box-sizing: border-box;
	flex-grow: 1;
	overflow: hidden;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
	color: #FF0013;
	border-style: double;
	border-color:#00ffec;
	border-width: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding:5px;
}

.linkcell a {
	display: block;
	color: #00ffec;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.linkcell a:hover {
	color: #ff3300;
	background-color:#ffffff
}

.linkbox > .linkcell  { width: 50%; }
.pagebox > .cell  { width: 25%; }

.limages{
	position:absolute;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width:20%;
	height:auto;
	left:0%;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.rimages{
	position:absolute;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width:20%;
	height: auto;
	right:5%;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.hoverbox {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	border-style: solid;
	border-color:#FFFFFF;
	border-width: 6px;
	text-align: center;
	padding:9px;
	position: absolute;
	position: fixed;
	right: 0;
	top: 240px;
	z-index:200;
}

.cell a {
	color: #00ffec;
	text-decoration: none;
}

.cell a:hover {
	color: #ff3300;
	background-color:#ffffff
}
